/* General*/
body, html{
	font-family: sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #203E62;
}

/*Text*/
h2{
	text-transform: uppercase;
    font-size: 22px;
	line-height: 25px;
    margin-bottom: 15px;
    
}
h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;    
    margin-bottom: 18px;
}
h4{
	text-transform: uppercase;
}

/* Header */
nav#header{
	background: #222222;
	color: #ffffff;
	padding: 20px 0 30px 0;
    margin-bottom: 10px;
}

nav#header p{
	font-size: 20px;
	margin-top: 10px;
    margin-left: 10px;
}

/* Image Section */
#secVul{
	padding: 0px;
    padding-bottom: 50px;
}

.section-title.center{
	padding: 5px 0;
    text-align: center;
}
.section-title.center h2{
	font-weight: 300;
}

#row .item {
    background-color:#ddd;
    padding:20px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.jar{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #fcac45;
    padding: 3px;
    padding-top: 0;
    text-align:left
}


/*Vulnerabilities*/

* {margin: 0; padding: 0;}

#accordianmenu {
	background: white;
	width: auto;
	color: black;
    
}
#accordianmenu p {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
    margin:0;
	background: #c5c5c7; 
	border-bottom:1px solid black;
}
#accordianmenu p.jar_name{
	background-color: #fcac45;
}
#accordianmenu p:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
#accordianmenu li {
	list-style-type: none;
}
#accordianmenu ul ul li a {
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
}
#accordianmenu ul ul {
	display: none;
}
#accordianmenu li.active ul {
	display: block;
}
#accordianmenu ul li ul li .metric {
	float: left;
    width: 120px;
}
#accordianmenu ul li ul li .result {
    display:flex;
    text-align:left;
    width: auto;
}
